<%- include(dirName + '/view/partials/header.ejs')%>



    <form class="row d-flex col-lg-12 d-flex justify-content-centers "action="/work" method="post">
        <Input class="" type="text" name="taskMessageWork"></Input>  
        <input class="" type="submit" id="message">
    </form>
    <div id="taskRender" class="container col-lg-2 w-50 d-flex justify-content-centers">
       <div class="row">
            <%if(locals.taskArray) {%>
                <%for(var i =0; i<taskArray.length;i++){%>
                    <div class="Note row">
                        <div class="col-lg-3">
                            <%=taskArray[i]%>
                        </div>
                    </div>
                <%}%>
            <%}else{%>        
            <%}%>	
        </div>       
    </div>

<%- include(dirName +'/view/partials/footer.ejs')%>