<%- include(dirName + '/view/partials/header.ejs')%>


<!-- //input field and submit button -->
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col-lg-6">
                <form class="d-flex" action="/work" method="post">
                    <Input class="" type="text" name="taskMessageWork"></Input>  
                    <input class="" type="submit" id="message">
                </form>
            </div>
        </div>
    </div>
<!-- //task render -->
    <div id="taskRender" class="container col-lg-2 w-50 d-flex justify-content-centers">
       <div class="row">
            <%if(locals.taskArray) {%>
                <%for(var i =0; i<taskArray.length;i++){%>
                    <div class="Note row">
                        <div class="col-lg-3">
                            Hello world<%=taskArray[i]%>
                        </div>
                    </div>
                <%}%>
            <%}else{%>        
            <%}%>	
        </div>       
    </div>

<%- include(dirName +'/view/partials/footer.ejs')%>